.search-bar-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px 0 0 5px;
  }
  
  .search-button {
    padding: 12px 18px;
    border: none;
    background-color: #62a4eb;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  